@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

/* css reset */
html,body{padding: 0; margin: 0; width: 100%; height: 100%;}
h1,h2,h3,h4,h5,h6, ul{font-size:100%; line-height:1; margin:0; padding:0;
font-weight: normal;}

@media screen and (max-width: 2000px){
    body{
        width: 640px;
        margin: 0 auto;
    }
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    overflow: hidden;
  }


/* common elements -typogaphy */
body{
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: grey;
    line-height:1;
}
a{
    color: #353535;
    text-decoration: none;
}

/* common elements link, button, image, titles, shadow */

li{
    list-style: none;
}
.hidden{
    display: none;
}

/* header */
header{
    border-bottom: none;
    font-family: 'Nanum Gothic', sans-serif;
}

/* header sidebar */
.sidebar{
    display: none;
    left: -200px;
    position: absolute;
    width: 200px;
    height: 100%;
    background: white;
    transition: all 2s ease;
    z-index: 1111;
}
.sidebar p{
    font-size: 20px;
    text-align: center;
    line-height: 1;
    user-select: none;
}
.sidebar ul li{
    display: block;
    height: auto;
    width: 100%;
    padding-left: 20px;
    box-sizing: border-box;
}
.sidebar ul li:hover{
    color: burlywood;
}
#check_btn, #cancel_btn{
    display: none;
}
label #btn{
    transition: all .4s;
    cursor: pointer;
}
#check_btn:checked ~ .sidebar{
    left: 0;
    display: block;
}

/* navbar */
.navbar{
    background-color: white;
    line-height: 30px;
    padding: 12px;
}

/* header main navbar */
.main_navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar_menu{
    display: flex;
}
.navbar_menu li{
    padding-right: 10px;
}
.navbar_cart_my{
    display: flex;
}
.navbar_cart_my li{
    padding-left: 10px;
}
.navbar_logo{
    font-size: 20px;
}

/* header search box */
.search_box{
    height: 20px;
    width: 30px;
    position: relative;
}
.search_box.active{
    width: 200px;
}
.search_box input{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    background: #f3f3f3;
    font-size: 12px;
    border-radius: 10px;
    padding: 0 20px 5px 10px;
}
.search_box .search_btn{
    height: 20px;
    width: 20px;
    font-size: 15px;
    color: #353535;
    position: absolute;
    top: 15%;
    right: 5px;
    transform: translateY(-10%);
    background-color: #ad5454;
    line-height: 20px;
    border-radius: 50px;
    cursor: pointer;
}
.search_box .cancel_btn{
    position: absolute;
    top: 15%;
    right: -10px;
    transform: translateY(-10%);
    color: #353535;
    font-size: 15px;
    cursor: pointer;
}
/* header sub navbar */
.sub_navbar{
    padding-top: 8px;
}
.sub_navbar ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* slide */
.main{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.slider{
    width: 640px;
    height: auto;
    overflow-x: hidden;
    position: relative;
}
.slide_container{
    position: absolute;
    width: 500%;
    height: auto;
    display: flex;
}
.slide_container input{
    display: none;
}
.slide{
    width: 20%;
    transition: 1s;
}
.slide input{
    display: none;
}
.slide img{
    width: 640px;
    height: 430px;
}

.navigation_manual{
    position: absolute;
    width: 640px;
    margin-top: 400px;
    display: flex;
    justify-content: center;
}
.manual_btn{
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    background: #f2f2f2;
}
.manual_btn:not(:last-child){
    margin-right: 20px;
}
.manual_btn:hover{
    background: #353535;
}
#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}
#radio4:checked ~ .first{
    margin-left: -60%;
}

/* css for automatic navigation */
.navigation_auto{
    position: absolute;
    display: flex;
    width: 640px;
    justify-content: center;
    margin-top: 400px;
}
.navigation_auto div{
    border: none;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}
.navigation_auto div:not(:last-child){
    margin-right: 20px;
}
#radio1:checked ~ .navigation_auto .auto_btn1{
    background: #353535;
}
#radio2:checked ~ .navigation_auto .auto_btn2{
    background: #353535;
}
#radio3:checked ~ .navigation_auto .auto_btn3{
    background: #353535;
}
#radio4:checked ~ .navigation_auto .auto_btn4{
    background: #353535;
}