<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge chrome=1s">
    <title>Fivegrid</title>
    <meta name="keywords", content="shopping mall, women, girl">
    <meta name="description", content="shop any where for women and girl's ware">
    <meta name="robots", content="index, follow, all">
    
    {% load static%}

    <!-- css -->

    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <!-- js -->
    <link rel="stylesheet" href="{% static 'js/main.js' %}">

    <!-- bootstrap -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-grid.min.css' %}">

    <!-- favicon-->
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'images/favicon/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'images/favicon/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'images/favicon/favicon\apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'images/favicon/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'images/favicon/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'images/favicon/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'images/favicon/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'images/favicon/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'images/favicon/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'images/favicon/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon/favicon-16x16.png' %}">
    <meta name="msapplication-TileColor" content="#ffffffs">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

   
    <!-- bxslider-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    
     <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/3caf58a45c.js" crossorigin="anonymous"></script>
    
    <!-- open graph-->
    <meta property="og:title" content="Ninegrid" />
    <meta property="og:type" content="website" />
    <meta property="description" content="shop any where for women and girl's ware" />
    <meta property="og:url" content="https://www.fivegrid.com/" />
    <meta property="og:image" content="https://www.fivegrid.com/images/logo.png" />
    

</head>
<body class="fix_body">
    <header>
        <div class="navbar">
            <nav class="main_navbar">
                <ul class="navbar_menu">
                    <li class="icons">
                        <input type="checkbox" id="check_btn">
                        <label for="check_btn">
                            <i class="fas fa-bars" id="btn"></i>
                        </label>
                        <input type="checkbox" id="cancel_btn">
                        <div class="sidebar">
                            <p><a href="index.html">FIVEGRID</a></p>
                            <ul>
                                <li><a href="#">LOGIN</a></li>
                                <li><a href="#">JOIN</a></li>
                                <li>CATEGORY</li>
                                <li>COMMUNITY</li>
                            </ul>
                        </div>
                    </li>
                    <li class="icons"><i class="fas fa-search"></i></li>
                </ul>
                <div class="navbar_logo">
                    <a href="index.html">FIVEGRID</a>
                </div>
                <ul class="navbar_cart_my">
                    <li class="icons"><i class="fas fa-shopping-cart"></i></li>
                    <li class="icons"><i class="far fa-user"></i></li>
                </ul>
            </nav>
            <nav class="sub_navbar">
                <ul class="navbar_menu">
                    <li><a href="">BEST</a></li>
                    <li><a href="">NEW</a></li>
                    <li><a href="">OUTER</a></li>
                    <li><a href="">TOP</a></li>
                    <li><a href="">BOTTOM</a></li>
                    <li><a href="">SHOES</a></li>
                    <li><a href="">ACC</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <div class="slider"></div>
            <div class="slide_container">
                <!-- radio buttons -->
                <input type="radio" name="radio-btn" id="radio1">
                <input type="radio" name="radio-btn" id="radio2">
                <input type="radio" name="radio-btn" id="radio3">
                <input type="radio" name="radio-btn" id="radio4">
                <!-- slide images -->
                <div class="slide first">
                    <img src="{% static 'images/slide/test1.PNG' %}">
                </div>
                <div class="slide">
                    <img src="{% static 'images/slide/test2.PNG' %}">
                </div>
                <div class="slide">
                    <img src="{% static 'images/slide/test3.PNG' %}">
                </div>
                <div class="slide">
                    <img src="{% static 'images/slide/test4.PNG' %}">
                </div>
                <!-- auto navigation-->
                <div class="navigation_auto">
                    <div class="auto_btn1"></div>
                    <div class="auto_btn2"></div>
                    <div class="auto_btn3"></div>
                    <div class="auto_btn4"></div>
                </div>
            </div>
            <!-- manual navigation-->
            <div class="navigation_manual">
                <label for="radio1" class="manual_btn"></label>
                <label for="radio2" class="manual_btn"></label>
                <label for="radio3" class="manual_btn"></label>
                <label for="radio4" class="manual_btn"></label>
            </div>
        </div>

        <section class="main_banner">

        </section>
        <section class="new_arrivals">

        </section>
        <section class="best_item">
        </section>

        <section>
            
        </section>
    </main>
    <footer>

    </footer>
</body>
</html>