<!DOCTYPE html>
<html lang="kr">
<head>
    {% load static%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge chrome=1s">
    <title>Fivegrid</title>
    <meta name="keywords", content="shopping mall, women, girl">
    <meta name="description", content="shop any where for women and girl's ware">
    <meta name="robots", content="index, follow, all">
    
    <!-- css -->

    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">

    <!-- js -->
    <link rel="stylesheet" href="{% static 'js/main.js' %}">
    
    <!-- bootstrap -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-grid.min.css' %}">

    <!-- favicon-->
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'images/favicon/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'images/favicon/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'images/favicon/favicon\apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'images/favicon/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'images/favicon/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'images/favicon/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'images/favicon/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'images/favicon/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'images/favicon/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'images/favicon/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon/favicon-16x16.png' %}">
    <meta name="msapplication-TileColor" content="#ffffffs">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

   
    <!-- bxslider-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/45db5d0549.js" crossorigin="anonymous"></script>

    <!-- open graph-->
    <meta property="og:title" content="Ninegrid" />
    <meta property="og:type" content="website" />
    <meta property="description" content="shop any where for women and girl's ware" />
    <meta property="og:url" content="https://www.fivegrid.com/" />
    <meta property="og:image" content="https://www.fivegrid.com/images/logo.png" />
    

</head>
<body class="fix_body">
    <header>
        <div class="navbar">
            <nav class="main_navbar">
                <ul class="navbar_menu">
                    <li class="icons">
                        <input type="checkbox" id="check_btn">
                        <label for="check_btn">
                            <i class="fas fa-bars" id="btn"></i>
                        </label>
                        <input type="checkbox" id="cancel_btn">
                        <div class="sidebar">
                            <p><a href="index.html">FIVEGRID</a></p>
                            <ul class="sidebar_inter">
                                <li><a href="">LOGIN</a></li>
                                <li><a href="">JOIN</a></li>
                            </ul>
                            <ul class="sidebar_category">
                                <li><a href="">BEST</a></li>
                                <li><a href="">NEW</a></li>
                                <li><a href="">OUTER</a></li>
                                <li><a href="">TOP</a></li>
                                <li><a href="">BOTTOM</a></li>
                                <li><a href="">SHOES</a></li>
                                <li><a href="">ACC</a></li>
                            </ul>
                            <ul class="sidebar_community">
                                <li><a href="">NOTICE</a></li>
                                <li><a href="">FAQ</a></li>
                                <li><a href="">REVIEW</a></li>
                                <li><a href="">배송문의</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="icons_search">
                        <div class="search_box">
                            <input type="text" placeholder="search..">
                            <div class="search_btn">
                                <i class="fas fa-search"></i>
                            </div>
                            <div class="cancel_btn">
                                <i class="fas fa-times"></i>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="navbar_logo">
                    <a href="index.html">FIVEGRID</a>
                </div>
                <ul class="navbar_cart_my">
                    <li class="icons"><i class="fas fa-shopping-cart"></i></li>
                    <li class="icons"><i class="far fa-user"></i></li>
                </ul>
            </nav>
            <nav class="sub_navbar">
                <ul class="navbar_menu">
                    <li><a href="">BEST</a></li>
                    <li><a href="">NEW</a></li>
                    <li><a href="">OUTER</a></li>
                    <li><a href="">TOP</a></li>
                    <li><a href="">BOTTOM</a></li>
                    <li><a href="">SHOES</a></li>
                    <li><a href="">ACC</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="main">
        <div class="slide_container">
            <!-- radio buttons -->
            <input type="radio" name="radio-btn" id="radio1">
            <input type="radio" name="radio-btn" id="radio2">
            <input type="radio" name="radio-btn" id="radio3">
            <input type="radio" name="radio-btn" id="radio4">
            <!-- slide images -->
            <div class="slide first">
                <img src="{% static 'images/slide/test1.PNG' %}">
            </div>
            <div class="slide">
                <img src="{% static 'images/slide/test2.PNG' %}">
            </div>
            <div class="slide">
                <img src="{% static 'images/slide/test3.PNG' %}">
            </div>
            <div class="slide">
                <img src="{% static 'images/slide/test4.PNG' %}">
            </div>
            <!-- auto navigation-->
            <div class="navigation_auto">
                <div class="auto_btn1"></div>
                <div class="auto_btn2"></div>
                <div class="auto_btn3"></div>
                <div class="auto_btn4"></div>
            </div>
        </div>
        <!-- manual navigation-->
        <div class="navigation_manual">
            <label for="radio1" class="manual_btn"></label>
            <label for="radio2" class="manual_btn"></label>
            <label for="radio3" class="manual_btn"></label>
            <label for="radio4" class="manual_btn"></label>
        </div>
        <div class="banner">
            <div class="sub_banner">존나게 한겨울로</div>
            <div class="main_banner">FIVEGRID</div>
            <div class="sub_banner">@FIVEGRID 팔로우하고 소식을 받아보세용</div>    
        </div>
        <section class="new_arrivals">
            <h2 class="product_category">new_arrivals</h2>
            <div class="small-container">
                <div class="row">
                    <div class="col-6 product">
                        <a href="#"><img src="{% static 'images/product/testProduct1.png' %}"></a>
                        <h4 class="product_name">이쁜 숏패딩</h4>
                        <div class="product_color">
                            <i class="fas fa-circle grey"></i>
                            <i class="fas fa-circle black"></i>
                            <i class="fas fa-circle pink"></i>
                        </div>
                        <div class="product_price">5.000원</div>
                    </div>
                    <div class="col-6 product">
                        <a href="#"><img src="{% static 'images/product/testProduct2.png' %}"></a>
                        <h4 class="product_name">이쁜 가디건</h4>
                        <div class="product_color">
                            <i class="fas fa-circle grey"></i>
                            <i class="fas fa-circle black"></i>
                            <i class="fas fa-circle pink"></i>
                        </div>
                        <div class="product_price">5.000원</div>
                    </div>
                    <div class="col-6 product">
                        <a href="#"><img src="{% static 'images/product/testProduct3.png' %}"></a>
                        <h4 class="product_name">이쁜 크림진</h4>
                        <div class="product_color">
                            <i class="fas fa-circle grey"></i>
                            <i class="fas fa-circle black"></i>
                            <i class="fas fa-circle pink"></i>
                        </div>
                        <div class="product_price">5.000원</div>
                    </div>
                    <div class="col-6 product">
                        <a href="#"><img src="{% static 'images/product/testProduct4.png' %}"></a>
                        <h4 class="product_name">이쁜 쭉티</h4>
                        <div class="product_color">
                            <i class="fas fa-circle grey"></i>
                            <i class="fas fa-circle black"></i>
                            <i class="fas fa-circle pink"></i>
                        </div>
                        <div class="product_price">5.000원</div>
                    </div>
                </div>
                <div class="product_more">

                </div>
            </div>
        </section>

        <section class="best_items">
            <h2 class="product_category">best_item</h2>
            <div class="small-container">
                <div class="row">
                    <div class="col-6 product">
                        <a href="#"><img src="{% static 'images/product/testProduct4.png' %}"></a>
                        <h4 class="product_name">이쁜 쭉티</h4>
                        <div class="product_color">
                            <i class="fas fa-circle grey"></i>
                            <i class="fas fa-circle black"></i>
                            <i class="fas fa-circle pink"></i>
                        </div>
                        <div class="product_price">5.000원</div>
                    </div>
                    <div class="col-6 product">
                        <a href="#"><img src="{% static 'images/product/testProduct3.png' %}"></a>
                        <h4 class="product_name">이쁜 크림진</h4>
                        <div class="product_color">
                            <i class="fas fa-circle grey"></i>
                            <i class="fas fa-circle black"></i>
                            <i class="fas fa-circle pink"></i>
                        </div>
                        <div class="product_price">5.000원</div>
                    </div>
                    <div class="col-6 product">
                        <a href="#"><img src="{% static 'images/product/testProduct2.png' %}"></a>
                        <h4 class="product_name">이쁜 가디건</h4>
                        <div class="product_color">
                            <i class="fas fa-circle grey"></i>
                            <i class="fas fa-circle black"></i>
                            <i class="fas fa-circle pink"></i>
                        </div>
                        <div class="product_price">5.000원</div>
                    </div>
                    <div class="col-6 product">
                        <a href="#"><img src="{% static 'images/product/testProduct1.png' %}"></a>
                        <h4 class="product_name">이쁜 숏패딩</h4>
                        <div class="product_color">
                            <i class="fas fa-circle grey"></i>
                            <i class="fas fa-circle black"></i>
                            <i class="fas fa-circle pink"></i>
                        </div>
                        <div class="product_price">5.000원</div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="footer_all">
        <div class="footer_top">
            <ul>
                <li><a href="">company</a></li>
                <li><a href="">agreement</a></li>
                <li><a href="">privacy policy</a></li>
            </ul>
        </div>
        <div class="footer_middle">
            <p>company. fivegrid  |  owner. 고양이  |  privacy manager. 고양이</p>
            <p>email address. goyang2@naver.com  |  tel.1588-6974</p>
            <ul>
                <li>premit number. 11223344555</li>
                <li><a href="#">[사업자정보확인]</a></li>
            </ul>
            <p>online license. 제 2021-서울강남-1234호</p>
            <address>서울특별시 강남구 홍길동 12-3456 7,8층 fivegrid</address>
            <div class="footer_icons">
                <a href=""><i class="fab fa-facebook-f"></i></a>
                <a href=""><i class="fab fa-instagram"></i></a>
            </div>
        </div>
        <div class="footer_bottom">
            <p>copyright © 파이브그리드 All Rights Reserved / published by H&Y</p>
        </div>
    </footer>
        <!-- 왜 마지막에 정의해야 적용되는거지?-->
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>

</html>